<div #gridContainer class="mosaic-grid-wrapper">
  @for (tile of tiles(); track tile.id) {
    <div class="mosaic-tile-item"
         [attr.data-mosaic-id]="tile.id"
         [attr.data-mosaic-x]="tile.x"
         [attr.data-mosaic-y]="tile.y"
         [attr.data-mosaic-w]="tile.w"
         [attr.data-mosaic-h]="tile.h">
      <div class="mosaic-tile-content">
        <div class="tile-header">
          <span class="tile-title">{{ tile.title }}</span>
          <button class="drag-handle">⋮⋮</button>
        </div>
        <div class="tile-body">
          {{ tile.content }}
        </div>
      </div>
    </div>
  }
</div>
